body {
  position: relative;
  margin: 0;
  font-family: 'Source Code Pro';
  background-color: #f6f6f6;
}

.body-2 {
  position: absolute;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  width: 280px;
  margin-top: 100px;
  margin-bottom: -30px;
}

.live {
  z-index: 1;
  cursor: pointer;
  display: absolute;
  width: 100%;
  -webkit-box-shadow: 0 0 0 4px #ff8080;
          box-shadow: 0 0 0 4px #ff8080;
  padding: 15px 0;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.live-text {
  display: inline-block;
  color: #ff6464;
  font-weight: 600;
  font-size: 12pt;
  text-transform: uppercase;
}

.live-beacon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 15px;
  background: #ff8080;
  border-radius: 50%;
  -webkit-animation: pulse 4s ease-in-out infinite;
          animation: pulse 4s ease-in-out infinite;
}

@-webkit-keyframes pulse {
  0%, 60% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 128, 128, 0.3);
            box-shadow: 0px 0px 0px 0px rgba(255, 128, 128, 0.3);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 360px rgba(255, 128, 128, 0);
            box-shadow: 0px 0px 0px 360px rgba(255, 128, 128, 0);
  }
}

@keyframes pulse {
  0%, 60% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 128, 128, 0.3);
            box-shadow: 0px 0px 0px 0px rgba(255, 128, 128, 0.3);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 360px rgba(255, 128, 128, 0);
            box-shadow: 0px 0px 0px 360px rgba(255, 128, 128, 0);
  }
}

.pulse-offline {
  display: none;
}

h2 {
  max-width: 440px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 10pt;
  text-align: center;
  color: #777;
  margin-bottom: 30px;
}

.social {
  cursor: pointer;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons {
  height: 30px;
  width: 30px;
  background-color: #777;
  border-radius: 30px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons:hover {
  background-color: #9d9d9d;
}

.fab {
  color: #eee;
}

.podcasts-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-bottom: 100px;
}

.podcasts-col {
  max-width: 600px;
}

.episode {
  width: 100%;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 0 0px rgba(119, 119, 119, 0);
          box-shadow: 0 0 0 0px rgba(119, 119, 119, 0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.episode:hover {
  -webkit-box-shadow: 0 0 0 4px rgba(119, 119, 119, 0.1);
          box-shadow: 0 0 0 4px rgba(119, 119, 119, 0.1);
}

.episode:nth-child(2) .episode-image-wrapper {
  padding: 40px 0px 40px 40px;
}

.episode:nth-child(2) .episode-image {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
}

.episode:nth-child(2) .episode-content {
  padding: 40px 40px;
}

.episode:nth-child(2) .episode-meta {
  margin: 2px 0;
}

.episode:nth-child(2) .episode-titel {
  font-size: 20pt;
  margin: 10px 0 30px 0;
}

.episode:nth-child(2) .episode-image {
  background-image: url("https://thumbnailer.mixcloud.com/unsafe/600x600/extaudio/9/e/3/1/b841-de6b-4061-bd7c-cf0dce8e02b1");
}

.episode:nth-child(3) .episode-image {
  background-image: url("https://thumbnailer.mixcloud.com/unsafe/600x600/extaudio/9/e/3/1/b841-de6b-4061-bd7c-cf0dce8e02b1");
}

.episode:nth-child(4) .episode-image {
  background-image: url("https://thumbnailer.mixcloud.com/unsafe/600x600/extaudio/1/c/4/9/e331-a633-4215-949a-8068e53eb8d3");
}

.episode-image-wrapper {
  padding: 20px 0px 20px 40px;
}

.episode-image {
  background-color: #777;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 75px 75px;
}

.episode-content {
  cursor: default;
  padding: 20px 40px;
}

.episode-meta {
  cursor: default;
  text-transform: uppercase;
  color: #777;
  font-size: 6pt;
  margin: 0 2px 0 0;
  letter-spacing: 2px;
}

.episode-titel {
  cursor: pointer;
  color: #777;
  font-size: 10pt;
  font-weight: 700;
  margin: 6px 0 6px 0;
}

.episode-titel:hover {
  color: #9d9d9d;
}

.episode-description {
  font-family: 'Source Sans Pro';
  color: #777;
  font-size: 10pt;
  line-height: 1.4;
  margin-top: 0;
}

p {
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content {
  margin: 80px 0;
  width: 600px;
  font-family: 'Source Sans Pro';
  color: #888;
  font-size: 10pt;
  line-height: 1.4;
  font-weight: 300;
}

.live-offline {
  -webkit-box-shadow: 0 0 0 4px #777;
          box-shadow: 0 0 0 4px #777;
}

.live-text-offline {
  display: none;
}

#offline-text {
  color: #777;
}

.offline-text {
  display: none;
}

iframe {
  margin-top: 10px;
}
/*# sourceMappingURL=modem.css.map */